<footer class="footer">
  <div class="footer-container">
    <div class="footer-grid">
      <div class="footer-section about">
        <h3 class="footer-logo">💳 Mini-Banking</h3>
        <p class="footer-description">
          Empowering your financial future with secure, simple, and innovative banking solutions.
        </p>
      </div>

      <div class="footer-section links">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="/balance">Account Overview</a></li>
          <li><a routerLink="/movements">Transaction History</a></li>
          <li><a routerLink="/deposit">Deposit Funds</a></li>
          <li><a routerLink="/withdrawal">Withdraw Funds</a></li>
        </ul>
      </div>

      <div class="footer-section madeby">
        <h4>Made by</h4>
        <p>@andreygonza77 on <a href="https://github.com/andreygonza77" target="_blank">GitHub</a></p>
        <p>Using mini-banking-api (php slim API REST) </p>
        <p>Frontend built with Angular</p>
        <p>Link to <a href="https://github.com/andreygonza77/mini-banking-api" target="_blank">mini-banking-api</a></p>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} Mini-Banking Project.</p>
    </div>
  </div>
</footer>
