<nav>
    <h1>Menu</h1>
    <ul>
        <li> <a routerLink="/deposit"> Register a deposit</a> </li>
        <li> <a routerLink="/withdrawal"> Register a withdrawal</a> </li>
        <li> <a routerLink="/movements"> Movements</a> </li>
        <li> <a routerLink="/movements/:id"> Movement details</a></li>
        <li> <a routerLink="/balance"> Current Balance</a></li>
        <li> <a routerLink="/convert-fiat"> Convert to fiat (Frankfurter)</a></li>
        <li> <a routerLink="/convert-crypto"> Convert to Crypto (Binance)</a></li>
    </ul>
</nav>